body {
	background-color: black;
	font-size: 22px;
	color: seashell;
	font-family: Helvetica;
	margin: 0;
	opacity: 0.9;
	text-align: center;
}
/* ========= Header Section  =============*/
.header {
	width: 100%;
	height: 69px;
	display: block;
	background-color: black;
	position: fixed;
	top: 0;
	border-bottom: 1px solid seashell;
}
.logo {
	height: 50px;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}
.navigation {
	float: right;
	padding-right: 10px;
}
.navigation a {
	height: 100%;
	color: seashell;
}
li {
	display: inline;
	list-style: none;
	margin-left: 20px;
	text-decoration: underline;
}

/* ========= Mission Section  =============*/
#mission {
	background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
	height: 800px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 70px 0 0 0;
	display: flex;
}
.blackbg {
	background: black;
	display: block;
	margin: auto;
	text-align: center;
	width: 1200px;
	padding: 0;
}
.blackbg h2 {
	margin-top: 10px;
}
