body {
	background-color: black;
	font-size: 22px;
	color: seashell;
	font-family: Helvetica;
	margin: 0;
	opacity: 0.9;
}
/* ========= Header Section  =============*/
#header {
	height: 69px;
	border-bottom: 1px solid seashell;
	position: fixed;
	top: 0;
	width: 100%;
}
li {
	display: inline-block;
	list-style: none;
	margin-left: 15px;
	text-decoration: underline;
}
nav {
	display: inline-block;
	position: absolute;
	right: 10px;
}
img {
	display: inline-block;
	height: 50px;
	width: auto;
	position: absolute;
	left: 10px;
	top: 10px;
}
/* ========= Mission Section  =============*/
#mission {
	background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
	height: 800px;
	width: 1450px;
	background-repeat: no-repeat;
	background-size: 1450px;
	margin: 70px auto 0 auto;
}
.blackbg {
	background: black;
	text-align: center;
	width: 1450px;
	position: absolute;
	top: 400px;
}
